* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
p {
  color: #ffffff;
}

p {
  font-size: 1rem;
}
body {
  background: linear-gradient(90deg, #588cc9 0%, #f189b8 100%);
}

/* Navbar */
.navbar {
  width: 100%;
  height: 100px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #588cc9 0%, #f189b8 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.scrolled::after {
  opacity: 1;
}


.navbar ul {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.navbar ul a {
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar ul li a.activo {
  border-bottom: 2px solid #ffffff;
}

.menu-icon img {
  display: none;
  width: 28px;
}

/* Navbar */

/* Header */

.header {
  background-image: linear-gradient(90deg, #588cc9 0%, #f189b8be 100%),
    url("./assets/laptop.avif");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.header h1 {
  font-size: 7rem;
  color: #ffffff;
  font-weight: 300;
}

.header h2 {
  font-size: 84px;
  color: #ffffff;
  font-weight: 400;
}
.header p {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}
/* Header */

/* About */
.about {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #22252c;
  padding: 40px;
  gap: 1rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  padding: 20px;
}

.about h2 {
  font-size: 4.8rem;
  background: linear-gradient(90deg, #588cc9 0%, #f189b7 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #eb31a0, #fc6767);
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: transform 0.4s ease;
}
.button:hover {
  transform: translateY(-5px);
}

.about-pic {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.about-pic img {
  width: 550px;
  border-radius: 10px;
}

/* About */
/* Skills */
.skills {
  max-width: 100%;
  min-height: 100vh;
  background-color: #22252c;
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 1rem;
}

.skills h2 {
  font-size: 4.8rem;
  background: linear-gradient(90deg, #588cc9 0%, #f189b7 20%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding: 20px;
  gap: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.1rem;
  width: 50%;
  padding: 30px;
}
.card {
  background: linear-gradient(to right, #eb31a0, #fc6767);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  padding: 10px;
}

/* Skills */
/* Works */
.works {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  background-color: #22252c;
  padding: 20px;
}

.works h2 {
  font-size: 4.8rem;
  text-align: center;
  background: linear-gradient(90deg, #588cc9 40%, #f189b7 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.works-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  border: solid 1px #f189b7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.w-pic img {
  width: 100%;
  border-bottom: solid 1px #f189b7;
  padding: 10px 10px 0 10px;
}
.w-description {
  flex-grow: 1;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.w-description h3 {
  font-size: 1.8rem;
}

.git {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.w-text {
  flex-grow: 1;
}

/* Works */
/* Contact */

.contact {
  background: linear-gradient(90deg, #588cc9 0%, #f189b7 100%);
  max-width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.address {
  background-color: #22252c5e;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  height: 499px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
}

.address h2 {
  font-size: 4rem;
  background: linear-gradient(90deg, #588cc9 0%, #f189b7 30%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-icon a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.form-icon {
  transition: transform 0.4s ease;
}

.form-icon:hover {
  transform: translateY(-5px);
}

.form-icon img {
  max-width: 32px;
  background: linear-gradient(to right, #eb31a0, #fc6767);
  padding: 4px;
  border-radius: 10px;
}

.form-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
}
input {
  height: 60px;
}

textarea {
  min-height: 300px;
  resize: none;
}

.row {
  display: flex;
  gap: 0.5rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #eb31a0;
  border-color: #eb31a0;
}

.warning {
  text-align: center;
  font-weight: 500;
}

/* Contact */

/* Footer */
.footer {
  background: linear-gradient(90deg, #588cc9 0%, #f189b7 100%);
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1.5rem;
}

.rights {
  width: 460px;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(to right, #eb31a0, #fc6767);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.rights p {
  font-size: 0.8rem;
  font-weight: 500;
}

/* Footer */


/* Media*/

@media (width < 1000px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
    gap: 1.5rem;
    visibility: hidden;
    opacity: 0;
  }
  .navbar ul.with-transition {
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  }
  .navbar ul.open {
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
    visibility: visible;
    opacity: 1;
  }

  .menu-icon {
    display: flex;
    background: linear-gradient(to right, #eb31a0, #fc6767);
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    z-index: 10;
  }
  .menu-icon img {
    display: flex;
    width: 28px;
  }
}

@media (width < 600px){
/* Navbar */
.navbar {
  padding: 10px;
}

/* Navbar */
 /* Header */

.header {
  padding: 15px;
  gap: 1rem;
}

.header h1 {
  font-size: 4.5rem;
}

.header h2 {
  font-size: 3.3rem;
}
.header p {
  font-size: 1.5rem;
}
/* Header */
/* About */
.about {
  display: flex;
  flex-direction:column;
  background-color: #22252c;
  padding: 15px;
  gap: 1rem;
}

.about-text {
  margin-top: 10px;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0px;
}

.about h2 {
  font-size: 3.5rem;
}

.about-pic {
  width: 100%;
}
.about-pic img {
  margin-top: 20px;
  width: 350px;
  border-radius: 10px;
}

/* About */
/* Skills */
.skills {
  flex-direction: column;
  padding: 15px;
  gap: 1rem;
}

.skills h2 {
  margin-top: 20px;
  font-size: 3.5rem;
}

.skills-text {
  width: 100%;
  padding: 0px;
  gap: 1rem;
}

.card-container {
  margin-top: 20px;
  width: 100%;
  padding: 0px;
}

/* Skills */
/* Works */
.works {
  padding: 5px;
}

.works h2 {
  margin-top: 20px;
  font-size: 3.5rem;
}

/* Works */
/* Contact */

.contact {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}

.address {
  width: 100%;
  height: 400px;
  padding: 20px;
  margin-top: 40px;
}

.address h2 {
  font-size: 3.5rem;
}

.form-container {
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
}
input {
  height: 60px;
}

textarea {
  min-height: 300px;
}

.warning {
  text-align: center;
}

/* Contact */
/* Footer */
.footer {
  padding: 0px;
}

.rights {
  width: 350px;
}

.rights p {
  font-size: 0.6rem;
  font-weight: 500;
}

/* Footer */
}